<section>
  <h1 class="text-center">Highscores</h1>
  <div class="row">

    <% users.forEach(user => { %>
      <%- include("shared/partials/user-card.ejs", {user}) %>
    <% }) %>

  </div>
</section>
